<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.github.amolgupta.android_auto_poi">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="androidx.car.app.MAP_TEMPLATES"/>


    <queries>
        <package android:name="com.google.android.apps.maps" />
    </queries>

    <application>
        <meta-data
            android:name="androidx.car.app.minCarApiLevel"
            android:value="1" />

        <meta-data
            android:name="com.google.android.gms.car.application"
            android:resource="@xml/automotive_app_desc" />

        <service
            android:name=".Service"
            android:exported="true"
            android:label="Android auto plugin"
            android:foregroundServiceType="location">
            <intent-filter>
                <action android:name="androidx.car.app.CarAppService" />
                <category android:name="androidx.car.app.category.POI" />
            </intent-filter>
        </service>
    </application>
</manifest>
